body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  //background-color: #f4f4f4;
}

.post-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  background-color: #000000;
}

.post-card {
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  transition: transform 0.3s;
  cursor: pointer;
}

.post-card:hover {
  transform: scale(1.05);
}

.post-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.post-details {
  padding: 15px;
}

h3 {
  margin: 0 0 10px 0;
}

.truncated-text {
  font-size: 0.9em;
  color: #666;
  height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
}
